

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}


/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 100px;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: 700;
    color: #FFFFFF;
    padding: 10px 25px;
    border-radius: 9px;
    font-size: 15px;
    border: none;



}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 40px;
    
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
nav ul{
    display: flex;
    align-items: center;
    
}
/* banner-styles */
.banner-greetings{
    font-size: 45px;
    font-weight: 600;

}
.banner-title{
    font-size: 85;
    font-weight: bolder;

}
.dark-1{
    color: #181818;
}